.venv/*
.env
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
coverage/
build/
*.egg-info/
.ipynb_checkpoints/
.envrc
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.cache/
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.log.* 